
<%= form_with model: article, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, "題名" %>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :body, "記事の内容" %>
    <%= f.text_area :body %>
  </div>
  <div class="form-group">
    <%= f.submit "投稿" %>
  </div>
<% end %>
