<h1>Public::Users#show</h1>
<p>Find me in app/views/public/users/show.html.erb</p>


<%= link_to "マイページ編集", edit_user_path %><br>

<%= link_to "新規投稿", new_article_path %><br>
<%= link_to "投稿一覧", articles_path %><br>
<%= link_to "投稿編集", edit_article_path %><br>
<%= link_to "投稿詳細", article_path %><br>

